.h2-hero-sec {
	padding-bottom: 51px;
	background: #F5FAFE;
	position: relative;
}
.hero-bg-shape {
	position: absolute;
	max-width: 50%;
}
.h-text {
	z-index: 3;
	position: relative;
}
.hero-card h2 span {
	color: #85A3B4;
}
.back{
    position: relative;
}
.hero-card h2 {
	font-size: 58px;
	font-weight: 700;
}
.hero-card {
	padding-top: 134px;
	padding-left: 100px;
}
.h-bgr {
	position: absolute;
	top: 0;
	left: 0;
    z-index: 1;
}

.h-footer {
	position: absolute;
	top: 271px;
	left: -29px;
	width: 31%;
}
.h-sofa-right {
	width: 84%;
	margin-top: 90px;
	margin-left: auto;
	position: relative;
}
.h-tob-bottom {
	width: 15%;
	position: absolute;
	top: 45%;
	right: 3%;
}
.sercel-squrq {
	color: black;
	font-size: 21px;
	background: white;
	border-radius: 50%;
	height: 56px;
	width: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.sercel-squrq-sec {
	padding: 10px;
	background: rgba(179, 216, 237, 0.2);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 49%;
}

// new
.collection-section {
	padding: 50px 0;
}
.c-card {
	margin-bottom: 20px;
}
.c-card .btn-blk {
	background: var(--secondery) !important;
}
.c-card h2 {
	margin: 9px 0;
}
.c-text {
	display: flex;
	align-items: center;
	column-gap: 17px;
	margin-top: 20px;
}
.doler {
	height: 50px;
	width: 50px;
	padding: 15px;
	background: #D4DEE5;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: .5s;
}
.c-card-img:hover img {
	transform: scale(1.1);
}
.c-card-img	 {
	overflow: hidden;
}
.c-card-img	img {
	transition: .5s;
}
.c2-card:hover .doler {
	color: white;
	background: var(--secondery);
}
.react {
	position: absolute;
	top: 35%;
	left: 50%;
	font-size: 32px;
	column-gap: 21px;
	display: flex;
	display: none;
	transition: 0.5s;
	transform: translateX(-50%);
}
.c2-card {
	position: relative;
}
.react1 {
	background: white;
	padding: 5px;
}
.c2-card:hover .react {
	display: block;
}
.c-card-img img {
	width: 100%;
}
.p-card {
	position: relative;
}
.react svg {
	background: rgba(255,255,255,0.8);
	font-size: 20px;
	padding: 10px;
	height: 40px;
	width: 40px;
}
.p-text {
	background: rgba(255, 255, 255, 0.8);
	padding: 12px 30px;
	display: inline-block;
	position: absolute;
	left: 19%;
	bottom: 4%;
}
.p-wrapper {
	display: flex;
}
// product-discount   product-discount     product-discount
.product-discount{
	padding: 100px 0;
}
.p-section-title {
	max-width: 547px;
	margin: auto;
	margin-bottom: 50px;
}
.product-discount .full img {
	width: 100%;
}
.product-discount .c2-card {
	margin-bottom: 25px;
}
// Testimonial-section   Testimonial-section   
.Testimonial-section{
	padding: 100px 0;
}
.lorem{
	max-width: 774px;
	margin: auto;
}



// other
.number {
	display: flex;
	align-items: center;
	column-gap: 18px;
}
.col-lg-12.f-off {
	position: relative;
}
.discount-n {
	background: rgba(255, 255, 255, 0.5);
	max-width: 293px;
	padding: 20px 70px;
	position: absolute;
	top: 4%;
	left: 42%;
}
.number {
	display: flex;
	align-items: center;
	column-gap: 18px;
}
.col-lg-12.f-on {
	position: relative;
}
.discount-m {
	background: rgba(255,255,255, .5);
	display: inline-block;
	padding: 20px 70px;
	position: absolute;
	top: 4%;
	left: 42%;
}