.heeo-section {
	padding: 100px 0 0 0;
    position: relative;
    .h-logo {
        position: absolute;
        top: 15%;
        left: 5%;
        color: white;
    }
    .row {
        align-items: center;
    }
    .he-card {
        h1 span {
            color: #E13939;
        }
        h1 {
            margin: 8px 0;
            font-size: 59px;
            font-weight: 700;
        }
        p{
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
        }
        .qimg {
            height: 100%;
        }
    }
}
// new section             new section

.product-details-sec {
	padding: 100px 0;
	background: #FAF2F2;

    img {
        padding-bottom: 20px;
    }
    h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        padding-bottom: 10px;
    }
    h6 {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        padding-bottom: 8px;
    }
    p{
        font-family: Josefin Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

    }

}
.neew-section{
    padding: 100px 0;
    .neew-section-title {
        width: 336px;
        margin: auto;
        padding-bottom: 30px;
        position: relative;
        img {
            position: absolute;
            top: -173%;
            left: 5%;
        }
    }
    .new-product-card{
        position: relative; 
    }
    .star-maxxx {
        background: rgba(255, 255, 255, 0.85);
        position: absolute;
        bottom: 0;
        width: 94%;
        padding: 5px 13px;
        margin: 7px;
    }
    .fa-solid.fa-lock.lock-n {
        padding: 11px;
        background: white;
        margin: 11px 0;
        font-size: 23px;
        border-radius: 3px;
    }
    .love-wrapper {
        position: absolute;
        text-align: right;
        top: 34%;
        right: 49%;
        opacity: 0;
        transition: 0.9s;
        transform: translateX(50%);
    }
    h3{
        font-family: Josefin Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1em;
        text-align: left;

    }



}
.office-section{
    padding: 100px 0;

    .neew-section-title {
        width: 336px;
        margin: auto;
        padding-bottom: 30px;
        position: relative;
        img {
            position: absolute;
            top: -173%;
            left: 5%;
        }
        h3{
            font-family: Josefin Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 1em;
            text-align: left;
        }
    }
    .n-card-text span {
        color: red;
    }
    .n-card {
        position: relative;
    }
    .n-card-text {
        background: white;
        padding: 20px;
        width: 78%;
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translateX(-50%);
        p{
            font-family: Josefin Sans;
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;

        }
    }



}
